[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
django-extensions = "*"

[packages]
zulip = "*"
zulip-bots = "*"
zulip-botserver = "*"
django-apscheduler = "*"
Django = "*"
mypy = "*"
ipdb = "*"
python-dateutil = "*"
black = "*"

[requires]
python_version = "3.7"
